grant codeBase "file:/home/<meunome>/computeEngine" {
    permission java.net.SocketPermission "localhost:*", "connect,resolve";
    permission java.security.AllPermission;
};
